$charcoal: #ccc;

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: url('./images/lab.jpg');
  background-size: cover;
  background-position: center center;
  height: 90vh;
}

#root, body {
  font-family: 'Open Sans', sans-serif;
}

input {
  display: block;
}

button, a {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #257994;
  color: white;
  padding: 7px;
  border-radius: 4px;
  display: block;
  text-align: center;
}

button {
  display: block
}

.patient-listing a {
  background: none;
  color: #03777c;
  border-radius: 0px;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

nav {
  margin: 20px 10px;

}

ul {
  margin: 0;
  padding: 0;
}

// .home {
//   background: url('./images/lab.jpg');
//   background-size: cover;
//   background-position: center center;
//   height: 90vh;
// }

.projectName {
  color: #12b9bf;
}

.user-email {
  color: #12b9bf;
  font-size: 10px;
}

.footer {
  font-size: 14px;
  color: #666666;
  background-color: transparent;
  border: none;
  text-align: right;
  position: absolute;
  bottom: 1px;
  left: 83vw;
}

.physical-units {
  font-size: 12px;
}

.about {
  padding: 30px;
  color: white;
  background-color: rgba(10, 10, 10, 0.8)
}

.plus {
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 40px;
  padding: 0px;
}

.layout {
  width: 600px;
  margin: 20px auto 0 auto;
  padding: 25px;
  border-radius: 5px;
  background-color: white;
}

.backButton {
  padding: 10px;
  display: block;
  text-align: center;
}

@media (max-width: 600px) {
  .layout {
    width: 95vw;
    margin: 0 auto;
  }
  .layout * {
    display: block;
  }
  .footer {
    position: sticky;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.formButton {
  display: block;
  width: 100%;
}

.alert {
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.bold {
  font-weight: 700;
}

.auth-form {
  background-color: rgba(243, 243, 243, 0.95);
  padding: 15px;
  border-radius: 10px;
}
